@import "../../../variable";

.wrapper-footer-page {
  text-align: center;

  .head-footer{
    padding: 60px 60px 15px 60px;
    @include Responsive(SM){
      padding: 20px 0 15px 0;
    }

    .footer-title {
      font-size: 26px;
      line-height: 45px;
      font-family: $font-archivo-medium;
      .footer-go-to-chat {
        cursor: pointer;
      }
    }
    .des-footer {
      margin: 0 auto;
      padding: 20px;
      max-width: 600px;
    }
  }



  .option-contact{
    display: block;
    max-width: 900px;
    margin: 0 auto;
    
    
    @include clearfix();

    .item-advisory{
      
      padding: 15px;
      display: block;
      float: left;
      position: relative;

      @include Responsive(SM){
        float: none;
        text-align: left;
      }

      &:nth-child(1){
        width: 40%;
        @include Responsive(SM){
          width: 100%;
        }
      }
      &:nth-child(2){
        width: 30%;
        @include Responsive(SM){
          width: 100%;
        }
      }
      &:nth-child(3){
        width: 30%;
        @include Responsive(SM){
          width: 100%;
        }
      }

      .hero-icon{
        display: inline-block;
        font-size: 32px;
        vertical-align: middle;
        color: $custom-deep-purple;
        opacity: 0.7;
      }
      .option-contact-content{
        vertical-align: middle;
        display: inline-block;
        padding-left: 10px;
        text-align: left;
        font-size: 13px;

        .type{
          a{
            color : $gray-500
          }
        }
        .link{
          color : $black;
          &:hover{
            color: $gray-700
          }
        }
      }
    }
  }

  .component-footer-content{
    text-align: left;
    .about-us{
      padding: 15px;
    }
  }
}


.fa-address-card{
  color: $pink;
  font-size: 36px;
  background-color: blue($color: #000000);
}

